@page "/"

@inject ILocalStorageService _localStorage;

<PageTitle>Home</PageTitle>

<h1>Hello, world! Counter is @counter</h1>

Welcome to your new app.

@code {
    private int counter = 0;

    protected override async Task OnInitializedAsync()
    {
        counter = await _localStorage.GetItemAsync<int>("counter");
    }
}