@inherits LayoutComponentBase

<RadzenDialog />
<RadzenContextMenu />
<RadzenNotification />
<RadzenTooltip />

<RadzenLayout>
    @* <RadzenHeader></RadzenHeader> *@
    <RadzenSidebar>
        <div class="rz-p-4">
            <NavMenu />
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    @*  <RadzenFooter>
    </RadzenFooter> *@
</RadzenLayout>

